.Flashcard {
 /* background-image: "..\..\resources\Flashcard400.jpg"; */
--pastel-blue: #a7c7e7;
background-color: var(--pastel-blue);
padding: 10px;
border-width: 5px;
border-color: red;
}
.Question { 
 color: pink;
  border-top: 3px;
  border-color: green;
}
.Answer {
color: purple;
}
.QuestionHeading {
 color: black;
}